<div class="container-fluid">
    <div class="row">
      <%=image_tag("logotop", class: "imgtop")%>
      <a class="cornerleft1" href="/">home | </a>
      <a class="cornerleft1especial" href="/equipments">List Equipment</a>
    </div> <!--close div cintillo-->


<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

   <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>    <!--LO AGREGRE YO EL MAY SAT 08 2016-->
    </div>

  <div class="field2">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  </div>
  <div class="field">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field2">
    <%= f.label :password_confirmation %><br />
  </div>
  <div class="field1">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field2">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  </div>
  <div class="field1">
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field2">
      <%= f.label :image %> <i>(choose avatar or image for your account)</i><br>
  </div>





  <div class="field">
      <%= f.file_field :image, :class => 'letter', autocomplete: "off" %> <p>
      <br>   <!--LO AGREGRE YO EL MAY SAT 08 2016-->
  </div>




    <div class="actions">
      <%= f.submit "Update", :class => 'btn btn-primary letter' %><p>
    </div>
  <% end %>



  <div class="cancelacount">
     <br>  
     <p><h3>Cancel my account</h3></p>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger' %><br></p>
      
      <%= link_to "Back", :back%>
      <br><p><br><br>
      <br><p><br><br>
  </div>



    <br>
    <br>
    <div class="row">
        <%=image_tag("logofooter", class: "imgfooter")%>
    </div><!--Close footer-->
</div><!--Close container-->

