<div class="container-fluid">
   <div class="row">
      <%=image_tag("logotop", class: "imgtop")%>
   </div> <!--close div cintillo-->

   
   <div class="row">
       
          <a class="cornerleft1" href="/">home</a>
      
          <%if user_signed_in?%>       
             <t class="cornerrigth3"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><t/>
             <t class="corneruserimg">&nbsp<%= image_tag current_user.image.url(:thumb)%></t><br>
             <t class="cornerrigth"><strong><a href="/users/edit">User: </a></strong> <%=current_user.name%>&nbsp</t>

          <%else%>
             <a class="logout" href="/users/sign_in">Login |</a>
             <a class="logout" href="/users/sign_up">Sign up</a>
          <%end%>  

   </div><!-- first row close-->




   <div class="row addequip">
         <button class="btn btn-primary js-new_equip">add equipment</button>
         <strong class="letterlistequipment1 js-timenow" data-timedatenow="<%= @vartime_now %>"></strong>
         <br>
         <br>
         <div class="investmentcol">
               <t class="letterlistequipment1especial1">Total Business Investment : </t><strong><%=@total_investment%></strong>
               <t class="letterlistequipment1especial1">Total PROFIT : </t><strong><%=@total_investment%></strong>
         </div>
   </div><!-- 2da row close-->

  
   <div class="row">

              

              <div class="col-sm-2 audiocol">
                 <strong>Audio</strong><p>
                 <br>
                <ul>
                  <%if @array_audio.length > 0%>
                    <% @array_audio.each do |one_audio|%>
                       <a href="/equipments/<%=one_audio.id%>">
                       <li class="letterlistequipment">
                         <strong> Name: </strong> <%=one_audio.name%><br>
                         <strong> Serial: </strong> <%=one_audio.serial%>
                       </li>
                       </a><br>
                    <%end%>
                  <%end%>
                </ul>
             </div><!-- 1er column--> 

             

             <div class="col-sm-2 videocol">
                    <strong>Video</strong><p>
              <br>
                <ul>
                <%if @array_video.length > 0%>
                   <% @array_video.each do |one_video|%>
                       <a href="/equipments/<%=one_video.id%>">
                       <li class="letterlistequipment">
                         <strong> Name: </strong> <%=one_video.name%><br>
                         <strong> Serial: </strong> <%=one_video.serial%>
                       </li>
                       </a><br>
                    <%end%>
                <%end%>
                </ul>
             </div><!-- 2da column-->

            

             <div class="col-sm-2 lightcol">
              <strong>Light</strong><p>
              <br>
                  <ul>
                  <%if @array_light.length > 0%>
                    <% @array_light.each do |one_light|%>
                       <a href="/equipments/<%=one_light.id%>">
                       <li class="letterlistequipment">
                         <strong> Name: </strong><%=one_light.name%><br>
                         <strong> Serial: </strong> <%=one_light.serial%>
                       </li>
                       </a><br>
                    <%end%>
                  <%end%>
                  </ul>
             </div><!-- 3er column-->

            

             <div class="col-sm-2 stagingcol">
              <strong>Staging</strong><p>
              <br>
              <ul>
                <%if @array_staging.length > 0%>
                 <% @array_staging.each do |one_staging|%>
                       <a href="/equipments/<%=one_staging.id%>">
                       <li class="letterlistequipment">
                         <strong> Name: </strong><%=one_staging.name%><br>
                         <strong> Serial: </strong> <%=one_staging.serial%>
                       </li>
                       </a><br>
                    <%end%>
                <%end%>
              </ul>
             </div><!-- 4da column--> 
          
            

             <div class="col-sm-2 itcomputercol">
                <strong>IT/Computer</strong><p>
                <br>
                <ul>
                  <%if @array_itcomputer.length > 0%>
                   <% @array_itcomputer.each do |one_itcomputer|%>
                       <a href="/equipments/<%=one_itcomputer.id%>">
                       <li class="letterlistequipment">
                        <strong> Name: </strong> <%=one_itcomputer.name%><br>
                        <strong>Serial: </strong><%=one_itcomputer.serial%>
                       </li>
                       </a><br>
                    <%end%>
                  <%end%>
                </ul>
             </div><!-- 5ta column--> 

   

  <!-- agregue el modal que va a destruir mi codigo-->

      <div class="modal fade js-modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <!-- Close button -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
              </button>

              <h2 class="modal_title"></h2>
            </div>

            <div class="modal-body">
              <p>This is the modal's body.</p>
            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

<!-- final del modal que va a destruir mi codigo-->

    </div><!-- 4ta row close-->
       <div class="row">
     
       <br></br>
    </div>
  <footer>
    <p>
    <br>
    <div class="row">
        <%=image_tag("logofooter", class: "imgfooter")%>
    </div><!--Close footer-->
  </footer>
</div><!-- container -->