




<div class="container">

	<div class="row">
      <%=image_tag("logotop", class: "imgtop")%>
   </div> <!--close div cintillo-->
    <div class="row">
       <h1>You have no equipments<h1>
       <div class="col-sm-3 cornerrigth1">
          <a class="logout" href="/">home</a>
       </div><!-- 1er column--> 
       
       <div class="col-sm-12 cornerrigth">
           <%if user_signed_in?%> 
             foto        
             <class="logout"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
             <class="cornerrigth"><strong>User: </strong> <%=current_user.name%></a>
          <%else%>
             <a class="logout" href="/users/sign_in">Login |</a>
             <a class="logout" href="/users/sign_up">Sign up</a>
          <%end%>  
       </div><!-- 3er column--> 
       <div class="row addequip">
         <button class="btn js-new_equip">add equipment</button>
       </div><!-- 2da row close-->


    </div>
    <div class="row">
    	 <%=image_tag("fuel", class: "logocenterfuel")%>
    </div>


 <!-- agregue el modal que va a destruir mi codigo-->

      <div class="modal fade js-modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <!-- Close button -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
              </button>

              <h2 class="modal_title"></h2>
            </div>

            <div class="modal-body">
              <p>This is the modal's body.</p>
            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

<!-- final del modal que va a destruir mi codigo-->







    <div class="row">
        <%=image_tag("logofooter", class: "imgfooter")%>
    </div><!--Close footer-->

</div> <!--Close container-->