
<div class="container-fluid">

	<div class="row">
      <%=image_tag("logotop", class: "imgtop")%>
   </div> <!--close div cintillo-->
  
    <div class="row">
        <h1>You have no equipments<h1>
        <a class="cornerleft1" href="/">home</a>
        <strong class="letterlistequipment1 js-timenow" data-timedatenow="<%= @vartime_now %>"></strong>
        <%if user_signed_in?%>       
           <t class="cornerrigth3"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><t/>
           <t class="corneruserimg">&nbsp<%= image_tag current_user.image.url(:thumb)%></t><br>
           <t class="cornerrigth"><strong><a href="/users/edit">User: </a></strong> <%=current_user.name%>&nbsp</t>

        <%else%>
           <a class="logout" href="/users/sign_in">Login |</a>
           <a class="logout" href="/users/sign_up">Sign up</a>
        <%end%>  

    </div>
    <div class="row addequip">
         <button class="btn btn-primary js-new_equip">add equipment</button>
       </div><!-- 3ra row close-->
    <div class="row">
    	 <%=image_tag("fuel", class: "logocenterfuel")%>
    </div>


 <!-- agregue el modal que va a destruir mi codigo-->

      <div class="modal fade js-modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <!-- Close button -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
              </button>

              <h2 class="modal_title"></h2>
            </div>

            <div class="modal-body">
              <p>This is the modal's body.</p>
            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

<!-- final del modal que va a destruir mi codigo-->






<footer>
    <div class="row">
        <%=image_tag("logofooter", class: "imgfooter")%>
    </div><!--Close footer-->
</footer>

</div> <!--Close container-->