<div class="container-fluid">
   <div class="row">
      <%=image_tag("logotop", class: "imgtop")%>
   </div> <!--close div cintillo-->

   <div class="row">
       
          <a class="cornerleft1" href="/">home | </a>
          <a class="cornerleft1especial" href="/equipments">List Equipment</a> 
          <%if user_signed_in?%>       
             <t class="cornerrigth3"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><t/>
             <t class="corneruserimg">&nbsp<%= image_tag current_user.image.url(:thumb)%></t><br>
             <t class="cornerrigth"><strong><a href="/users/edit">User: </a></strong> <%=current_user.name%>&nbsp</t>

          <%else%>
             <a class="logout" href="/users/sign_in">Login |</a>
             <a class="logout" href="/users/sign_up">Sign up</a>
          <%end%>  
     <br>
     <br>
     <br>
   </div><!-- first row close-->

   <div class="row">
      <div class="col-sm-3 equipmentcol">
          <strong>Equipment</strong><p>
          <br>
          <ul>
<!--+++++++++++++++++++++++++++++++++tratando de hacer la foto 12-05-2016++++++++++++++++++++-->

           
             

<!--+++++++++++++++++++++++++++++++++tratando de hacer la foto 12-05-2016++++++++++++++++++++-->

            <%=image_tag(@one_equipment.image, class: "equipplaceholder")%>
            <li class="letterlistequipment"><strong>NAME: </strong><%=@one_equipment.name%></li>
            <li class="letterlistequipment"><strong>MODEL: </strong><%=@one_equipment.model%></li>
            <li class="letterlistequipment"><strong>SERIAL: </strong><%=@one_equipment.serial%></li>
            <li class="letterlistequipment"><strong>BRAND: </strong><%=@one_equipment.brand%></li>
            <li class="letterlistequipment"><strong>PURCHASED DATE: </strong><%=@one_equipment.purchased_date.strftime("%m/%d/%y")%></li>
            <li class="letterlistequipment"><strong>ORIGINAL PRICE: </strong><%=@one_equipment.original_price%></li>
          </ul>

           <div class="row img_move">
                <%= form_for [current_user, @one_equipment], url: user_equipment_path(current_user, @one_equipment) do | f | %>
                   <%= f.file_field :image, autocomplete: "off", :class => "letter"%><br>
                   <%= f.button "save photo", :class => 'btn letter'%>
                <% end %>
              </div>
               
          <div class="row updatedeleteequip">
               <button class="btn updateequi js-updateequi" data-equip="<%= @one_equipment.id %>">update</button>
               <button class="btn deleteequi js-deleteequi" data-equip="<%= @one_equipment.id %>">delete</button><p>
               <br>
          </div><!--Close row button-->

           
      </div><!-- 1er column--> 


      <div class="col-sm-2 maintecol">
         <strong>Maintenance</strong><p>
         <br>
          <ul>
            <%if @maintenances.length > 0%>
               <% @maintenances.each do |one_maintenance|%>
                 <a href="#" class="js-clickmanintenances" data-mainte="<%=  one_maintenance.id%>">
                 <li class="letterlistequipment"><strong>NAME: </strong><%=one_maintenance.name%></li>
                 <li class="letterlistequipment"><strong>DESCRIPTION: </strong><%=one_maintenance.description%> </li>
                 <li class="letterlistequipment"><strong>DATE: </strong><%=one_maintenance.date.strftime("%m/%d/%y")%></li>
                 <li class="letterlistequipment"><strong>PRICE: </strong><%=one_maintenance.price%></li>
                 <br>
               </a>
                <%end%>
            <%end%>
          </ul>

          <div class="row">
                      <button class="btn addmainte js-addmainte">add new</button><p>
               <br>

          </div><!--Close row button-->

       </div><!-- 2da column-->


       <div class="col-sm-2 rentalcol">
           <strong>Rentals</strong><p>
           <br>
            <ul>
              <%if @rentals.length > 0%>
                 <% @rentals.each do |one_rental|%>
                  <a href="#" class="js-clickrentals" data-rental="<%= one_rental.id%>">
                     <li class="letterlistequipment"><strong>NAME: </strong><%=one_rental.name%></li>
                     <li class="letterlistequipment"><strong>DATE: </strong><%=one_rental.date.strftime("%m/%d/%y")%></li>
                     <li class="letterlistequipment"><strong>TOTAL PRICE RENTAL: </strong><%=one_rental.total_price%></li>
                     <br>
                  </a>
                 <%end%>
              <%end%>
            </ul>
            <div class="row">
                <button class="btn addrental js-addrental">add new</button><p>
               <br>
          </div><!--Close row button-->

       </div><!-- 3er column-->


      <div class="col-sm-3 currentcol">
        <strong>Current DATA</strong><p>
        <br>
       
      <ul>
            <li class="letterlistequipment2"><strong>Current Difference against original price: </strong></br>
                 <t class="letterlistequipment1">&nbsp $</t> 
                 <%if @totalprice_less_rentals > 0 %>
                       <strong class="letterred letterlistequipment1" id="js-pricelessrental"><%=@totalprice_less_rentals%> </strong> <br>
                    <%else%>

                       <strong class="letterlistequipment1" id="js-pricelessrental"><%=@totalprice_less_rentals%></strong><br>
                <%end%>

            </li>
            <br>
      

            <li class="letterlistequipment2"><strong>Current Difference against original price  plus cost of all maintenance: </strong><br>   
              <t class="letterlistequipment1">&nbsp $</t>
                   <%if @totalprice_plus_maintenances > 0 %>
                        <strong class="letterred letterlistequipment1 js-priceplusmainte"><%=@totalprice_plus_maintenances%> </strong><br>
                   <%else%>
                        <strong class="letterlistequipment1 js-priceplusmainte" ><%=@totalprice_plus_maintenances%></strong><br>         
                   <%end%>
                
            </li>
            <br>
            <br>
          
                     <%if @profit <= 0 %>
                        <li class="letterlistequipment2"><strong class="letterred">PROFIT: </strong>
                          <t class="letterlistequipment1">&nbsp $</t>
                          <strong class="letterred letterlistequipment1"><%=@profit%> </strong> <br>

                        </li><br>
                     <%else%>
                         <li class="letterlistequipment2"><strong class="letterblue">PROFIT: </strong>
                          <t class="letterlistequipment1">&nbsp $</t>
                          <strong class="letterblue letterlistequipment1"><%=@profit%></strong> </br>
                         </li><br>
                     <%end%>



                <li class="letterlistequipment2"><strong class="letterorange">RUNNING TIME: </strong>
                   
                      <t class="letterlistequipment1">&nbsp years</t>
                      <strong class="letterorange letterlistequipment1"> <%=@running_time_from%>  </strong><br>
                </li>
                <br>
                <br>
                <li class="letterlistequipment2">
                     <strong >REPORT DATE: </strong>
                 
                     <strong class="letterlistequipment1"><%=@vartime_now.strftime("%m/%d/%y")%> </strong>
                </li><br>
      </ul><!--Close UL Current data--> 
           <div class="row">
                 <button class="btn sendemail js-createpdf" data-equip="<%= @one_equipment.id %>">create PDF</button><p>
               <br>
           </div><!--Close row button-->
          
      </div><!-- 4da column--> 
      

    
    </div><!-- 3era row close-->

    
    <!-- agregue el modal que va a destruir mi codigo-->

<div class="modal fade js-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <!-- Close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>

        <h2 class="modal_title"></h2>
      </div>

      <div class="modal-body">
        <p>This is the modal's body.</p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- final del modal que va a destruir mi codigo-->



<footer>
  <p>
    <br>
    <div class="row">
        <%=image_tag("logofooter", class: "imgfooter")%>
    </div><!--Close footer-->
</footer>
</div><!-- container -->