<div class="container-fluid">
   <div class="row">
      <%=image_tag("logotop", class: "imgtop")%>
   </div> <!--close div cintillo-->

   <div class="row">
       
          <a class="cornerleft1" href="/">home</a>
      
          <%if user_signed_in?%>       
             <t class="cornerrigth3"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><t/>
              <t class="cornerrigth2">foto</t> 
             <t class="cornerrigth"><strong>User: </strong> <%=current_user.name%></t>
          <%else%>
             <a class="logout" href="/users/sign_in">Login |</a>
             <a class="logout" href="/users/sign_up">Sign up</a>
          <%end%>  

   </div><!-- first row close-->


  <div class="row">
      
        <div class="col-sm-3 datailcol">
          <strong>Equipment</strong>
       </div><!-- 1er column--> 

        <div class="col-sm-2 maintenancecol">
          <strong>Maintenances</strong>
       </div><!-- 2da column--> 
        <div class="col-sm-2 eventscol">
          <strong>Rentals</strong>
       </div><!-- 3era column--> 
       <div class="col-sm-4 currentdatacol">
          <strong>Current DATA</strong>
       </div><!-- 4ta column--> 

   </div><!-- 3ra row close-->


   <div class="row">
      <div class="col-sm-3 equipmentcol">
          <ul>
            <li class="letterlistequipment"><strong>NAME: </strong><%=@one_equipment.name%></li>
            <li class="letterlistequipment"><strong>MODEL: </strong><%=@one_equipment.model%></li>
            <li class="letterlistequipment"><strong>SERIAL: </strong><%=@one_equipment.serial%></li>
            <li class="letterlistequipment"><strong>BRAND: </strong><%=@one_equipment.brand%></li>
            <li class="letterlistequipment"><strong>PURCHASED DATE: </strong><%=@one_equipment.purchased_date.strftime("%m/%d/%y")%></li>
            <li class="letterlistequipment"><strong>ORIGINAL PRICE: </strong><%=@one_equipment.original_price%></li>
          </ul>


          <div class="row">
               <button class="btn updateequi js-updateequi" data-equip="<%= @one_equipment.id %>">update</button>
               <button class="btn deleteequi js-deleteequi" data-equip="<%= @one_equipment.id %>">delete</button>
          </div><!--Close row button-->
      </div><!-- 1er column--> 


      <div class="col-sm-2 videocol">
          <ul>
            <%if @maintenances.length > 0%>
               <% @maintenances.each do |one_maintenance|%>
                 <a href="#" class="js-clickmanintenances" data-mainte="<%=  one_maintenance.id%>">
                 <li class="letterlistequipment"><strong>NAME: </strong><%=one_maintenance.name%></li>
                 <li class="letterlistequipment"><strong>DESCRIPTION: </strong><%=one_maintenance.description%> </li>
                 <li class="letterlistequipment"><strong>DATE: </strong><%=one_maintenance.date.strftime("%m/%d/%y")%></li>
                 <li class="letterlistequipment"><strong>PRICE: </strong><%=one_maintenance.price%></li>
                 <br>
               </a>
                <%end%>
            <%end%>
          </ul>

          <div class="row">
                      <button class="btn addmainte js-addmainte">add new</button>

          </div><!--Close row button-->

       </div><!-- 2da column-->


       <div class="col-sm-2 lightcol">
            <ul>
              <%if @rentals.length > 0%>
                 <% @rentals.each do |one_rental|%>
                  <a href="#" class="js-clickrentals" data-rental="<%= one_rental.id%>">
                     <li class="letterlistequipment"><strong>NAME: </strong><%=one_rental.name%></li>
                     <li class="letterlistequipment"><strong>DATE: </strong><%=one_rental.date.strftime("%m/%d/%y")%></li>
                     <li class="letterlistequipment"><strong>TOTAL PRICE RENTAL: </strong><%=one_rental.total_price%></li>
                     <br>
                  </a>
                 <%end%>
              <%end%>
            </ul>
            <div class="row">
                <button class="btn addrental js-addrental">add new</button>
          </div><!--Close row button-->

       </div><!-- 3er column-->


      <div class="col-sm-4 stagingcol">
           <div class="col-sm-6">
             <ul>
                <li class="letterlistequipment2"><strong>Current Difference against original price: </strong></li><br>

                <li class="letterlistequipment2"><strong>Current Difference against original price plus cost of all maintenances: </strong></li><br>
                <br>
                     <%if @profit <= 0 %>
                        <li class="letterlistequipment2"><strong class="letterred">PROFIT: </strong></li><br>
                     <%else%>
                         <li class="letterlistequipment2"><strong class="letterblue">PROFIT: </strong></li><br>
                     <%end%>
                <li class="letterlistequipment2"><strong class="letterorange">RUNNING TIME: </strong></li>
                <br><br>

                <li class="letterlistequipment2"><strong>REPORT DATE: </strong></li><br>
             </ul>
           </div>
           <div class="col-sm-6 currentdata">
              <ul>
                   <%if @totalprice_less_rentals > 0 %>
                       <li class="letterlistequipment1"><strong class="letterred"><%=@totalprice_less_rentals%> </strong> $</li><br>
                    <%else%>
                       <li class="letterlistequipment1"><strong><%=@totalprice_less_rentals%> $</strong></li><br>
                    <%end%> 
                   <br>
                   <br>
                   <%if @totalprice_plus_maintenances > 0 %>
                        <li class="letterlistequipment1"><strong class="letterred"><%=@totalprice_plus_maintenances%> </strong> $</li><br>
                   <%else%>
                        <li class="letterlistequipment1"><strong><%=@totalprice_plus_maintenances%> $</strong></li><br>         
                   <%end%>
                   <br>
                   <%if @profit <= 0 %>
                       <li class="letterlistequipment1"><strong class="letterred"><%=@profit%> </strong> $</li><br>
                   <%else%>
                       <li class="letterlistequipment1"><strong class="letterblue"><%=@profit%></strong> $</li><br>
                   <%end%>

                   <li class="letterlistequipment1"><strong class="letterorange"> <%=@running_time_from%>  </strong> years </li><br>
                   <br>

                   <li class="letterlistequipment1"><strong><%=@vartime_now.strftime("%m/%d/%y")%> </strong></li><br>
              </ul>
              
           </div>
           
          
      </div><!-- 4da column--> 
      <div class="row">
                 <button class="btn sendemail js-sendemail">send copy to my email</button>
           </div><!--Close row button-->

    
    </div><!-- 3era row close-->

    
    <!-- agregue el modal que va a destruir mi codigo-->

<div class="modal fade js-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <!-- Close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>

        <h2 class="modal_title"></h2>
      </div>

      <div class="modal-body">
        <p>This is the modal's body.</p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- final del modal que va a destruir mi codigo-->




    <div class="row">
        <%=image_tag("logofooter", class: "imgfooter")%>
    </div><!--Close footer-->
</div><!-- container -->